.footer {
    width: 100%;

    margin: auto;
    background-color: #f1f1f1;

    &__logo {
        display: none;
    }

    &__socials {
        width: 140px;
        height: 80px;

        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__inst {
        width: 22px;
        height: 21px;

        background-image: url('/img/insta.png');

        &:hover {
            background-image: url('/img/insta-hover.png');
        }

        &:active {
            opacity: 0.3;
        }
    }
    
    &__fb {
        width: 15px;
        height: 29px;

        background-image: url('/img/fb.png');

        &:hover {
            background-image: url('/img/fb-hover.png');
        }

        &:active {
            opacity: 0.3;
        }
    }
    
    &__twitter {
        width: 24px;
        height: 20px;
        
        background-image: url('/img/twitter.png');

        &:hover {
            background-image: url('/img/twitter-hover.png');
        }

        &:active {
            opacity: 0.3;
        }
    }

    &__author {
        height: 80px;
        box-sizing: border-box;

        display: flex;
        justify-content: center;
        align-items: center;

        border-top: 1px solid #e5e5e5;

        &:hover .footer__copy-img{
            background-image: url('/img/htmlacademy-hover.png');
        }

        &:active {
            opacity: 0.3;
        }
    }

    &__text {
        font-size: 19px;
        line-height: 18px;
        font-weight: bold;
        
        margin-right: 30px;
    }

    &__copy-img {
        width: 27px;
        height: 34px;

        background-image: url('/img/htmlacademy.png');
    }
}

@media (min-width: $tablet-width) {
    .footer {
        &__wrapper {
            max-width: 668px;
            height: 143px;

            display: flex;
            align-items: center;
        }

        &__logo {
            display: block;

            width: 102px;
            height: 35px;
            background-image: url('/img/logo-footer.png');

            &:hover {
                background-image: url('/img/logo-footer-hover.png');
            }

            &:active {
                opacity: 0.3;
            }
        }

        &__author {
            border-top: none;
        }
    }
}


@media (min-width: $desktop-width) {
    .footer {
        &__wrapper {
            max-width: 1050px;
        }
    }
}