@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans.woff') format('woff');
    src: url('../fonts/opensans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensansbold.woff') format('woff');
    src: url('../fonts/opensansbold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensanslight.woff') format('woff');
    src: url('../fonts/opensanslight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 24px;
    color: #000;
    background-color: #ffffff;
}

header, main, footer {
    min-width: $mobile-width;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.title {
    font-size: 27px;
    line-height: 30px;
}

.wrapper {
    padding: 30px;
}

@media (min-width: $tablet-width) {
    .title {
        font-size: 43px;
        line-height: 50px;
    }

    .wrapper {
        padding: 50px;
    }
}

@media (min-width: $desktop-width) {
    .title {
        font-size: 53px;
        line-height: 57px;
    }

    .wrapper {
        padding: 0;
        width: 1050px;
        margin: auto;
    }
}