body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 24px;
    color: #000;
    background-color: #ffffff;
}

main {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    padding: 0;
    margin: 0;
}
  
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
    border: none;
    background-color: inherit;
    cursor: pointer;

    font-family: 'Open Sans';
    padding: 0;

    &--outline {
        width: 260px;
        height: 52px;

        border: 2px solid $text-color;

        font-size: 17px;
        font-weight: bold;
        text-transform: uppercase;
        color: $text-color;

        &:hover {
            background-color: $text-color;
            color: #fff;
        }
        
        &:active {
            background-color: $text-color;
            color: rgba(255, 255, 255, 0.3);
        }
    }
}

.container {
    max-width: 1150px;
    padding: 0 30px;
    margin: 0 auto;
}

header, main, footer {
    min-width: $mobile-width;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.title {
    font-size: 26px;
    line-height: 30px;

    margin: 0;
}

.zigzag {
    z-index: 3;

    &--gray {
        width: 100%;
        height: 6px;
    
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    
        background-image: url('/img/zigzag-line-desktop.png');
        background-size: contain;
    }
}

.cover {
    height: 176px;
    background-color: #f1f1f1;

    position: relative;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: $tablet-width) {
    .title {
        font-size: 43px;
        line-height: 50px;
    }
    
    .container {
        padding: 0 50px;
    }

    .zigzag {
        width: 100%;
        height: 22px;
    
        position: absolute;
        bottom: 0;
        transform: translate(0, 50%);
    
        background-image: url('/img/zigzag-fill-desktop.png');
        background-repeat: repeat-x;
        background-position: bottom;
        background-size: contain;

        &--gray {
            height: 15px;
        }
    }

    .cover {
        height: 225px;
    }
}

@media (min-width: $desktop-width) {
    .title {
        font-size: 53px;
        line-height: 57px;
    }

    .zigzag {
        height: 34px;

        &--gray {
            height: 23px;
        }
    }
    
    .cover {
        height: 255px;
    }
}