.nav {
    width: 100%;

    &__item {
        height: 80px;
        box-sizing: border-box;
        border-bottom: 1px solid #ececec;
    }

    &__link {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        & p {
            width: 190px;
            padding-left: 45px;
            margin: 0 auto;

            font-size: 17px;
            font-weight: bold;
            text-align: left;
        }

        &--search p, &--cart p {
            position: relative;
        }

        &--search p::before, &--cart p::before {
            content: "";

            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
        }

        &--search p::before {
            width: 18px;
            height: 18px;

            background-image: url('/img/search.png');
        }

        &--cart p::before {
            width: 21px;
            height: 18px;
            
            background-image: url('/img/cart.png');
        }
    }
}


@media (min-width: $tablet-width) {
    .nav {
        width: auto;
        
        &__item {
            height: 90px;
            border-bottom: none;
        }

        &__link {
            width: auto;

            & p {
                width: auto;
                padding-left: 0;
            }

            &--search {
                width: 85px;
                border-left: 1px solid #ececec;
                border-right: 1px solid #ececec;
            
                & p::before {
                    top: 50%;
                    left: 50%;

                    transform: translate(-50%, -50%);
                }
            }

            &--cart {
                padding-left: 85px;

                & p {
                    width: 190px;
                    text-align: right;

                    &::before {
                        left: -53px;
                    }
                }
            }
        }
        
        &__search {
            display: none;
        }
    }
}