.product {
    padding-top: 216px;
    position: relative;

    &__wrapper {
        padding-top: 30px;
        padding-bottom: 40px;
        max-width: 260px;
    }

    &__header {
        margin-bottom: 30px;
    }

    &__title {
        margin-bottom: 5px;
    }

    &__subtitle {
        max-width: 260px;

        font-size: 17px;
        line-height: 17px;
        font-weight: bold;
        text-transform: uppercase;
        color: #63d1bb;

        & br {
            display: none;
        }
    }

    &__descr {
        display: flex;
        flex-direction: column;
    }

    &__text {
        color: $text-color;
        font-size: 15px;

        margin: 0;
        margin-bottom: 15px;
    }

    &__table {
        font-size: 15px;
        color: $text-color;

        width: 100%;
        margin-bottom: 25px;

        & tr td {
            border-bottom: 1px solid #dee2e6;
            padding-top: 7px;
            padding-bottom: 7px;
        }
    }
    
    &__photowrap {
        display: flex;
        justify-content: center;
    }

    &__photo {
        width: 260px;
        height: 315px;
    }

    &__price {
        font-size: 17px;
        font-weight: bold;
        text-align: center;
        color: #444444;

        padding: 20px 0;
    }
}

@media (min-width: $tablet-width) {
    .product {
        padding-top: 0;

        &__wrapper {
            padding-top: 50px;
            padding-bottom: 60px;
            max-width: 668px;
        }

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            margin-bottom: 55px;
        }

        &__title {
            max-width: 100%;
            margin-bottom: 0;
        }
        
        &__subtitle {
            width: 175px;
            margin: 0;
            text-align: center;

            & br {
                display: block;
            }
        }

        &__descr {
            position: relative;
            padding-right: 374px;
        }

        &__text {
            margin-bottom: 34px;

            font-size: 17px;
            line-height: 30px;
        }
        
        &__table {
            margin-bottom: 40px;
        }
        
        &__price {
            font-size: 20px;
        }

        &__photowrap {
            position: absolute;

            top: 0;
            right: 0;
        }
        
        &__photo {
            width: 333px;
            height: 404px;
        }
        
        &__btn {
            width: 292px;
        }
    }
}

@media (min-width: $desktop-width) {
    .product {
        &__wrapper {
            padding-top: 130px;
            padding-bottom: 85px;
            max-width: 1050px;
        }

        &__header {
            flex-direction: row-reverse;
            justify-content: flex-end;
        }
        
        &__descr {
            padding-left: 175px;
            padding-right: 580px;
        }

        &__text {
            margin-bottom: 55px;
        }
        
        &__table {
            margin-bottom: 85px;
        }

        &__photowrap {
            top: -160px;
            z-index: -1;
        }
        
        &__photo {
            width: 525px;
            height: 636px;
        }
    }
}