.product {
    padding-top: 216px;

    &__subtitle {
        text-transform: uppercase;
        font-size: 17px;
        line-height: 17px;
        color: #63d1bb;
    }

    &__text {
        color: $text-color;
    }

    &__table {
        color: $text-color;
        max-width: 290px;

        & td {
            padding-left: 0;
            padding-right: 0;
        }

        & tr:first-of-type td{
            border-top: none;
        }

        & tr:last-of-type td{
            border-bottom: 1px solid #dee2e6;
        }
    }

    &__photo {
        width: 260px;
        height: 315px;
    }

    &__price {
        font-size: 17px;
        color: #444444;
    }

    &__btn {
        width: 260px;
        height: 52px;

        color: #444444;
        border: 2px solid #444444;
    }
}


@media (min-width: $tablet-width) {
    .product {
        padding-top: 0;

        &__text {
            width: 300px;
        }
        
        &__photo {
            width: 333px;
            height: 404px;
        }
    }

}

@media (min-width: $desktop-width) {
    .product {
        &__wrapper {
            padding-top: 70px;
        }

        &__photo {
            width: 525px;
            height: 636px;
        }
    }
}