$mobile-width: 320px;
$tablet-width: 785px;
$desktop-width: 1265px;
$second-color: #63d1bb;
$bg-color: #fafafa;
$text-color: #444444;
$text-color-60: rgba(0, 0, 0, 0.6);
$text-color-30: rgba(0, 0, 0, 0.3);
$border-color: rgba(68, 68, 68, 0.1);