.promo {
    background-color: $bg-color;
    
    position: relative;

    margin-bottom: 216px;

    &__wrapper {

        min-height: 285px;
        position: relative;
    }

    &__img {
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translate(-50%, 0);
    
        width: 320px;
        height: 373px;
    }

    &__header {
        position: absolute;
        top: 75px;
        left: 50%;
        transform: translate(-50%, 0);

        width: 260px;

        text-align: center;
    }

    &__type {
        position: absolute;
        top: 100%;

        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__interior, &__toys {
        color: #fff;
        font-size: 19px;
        line-height: 24px;
        font-weight: bold;
        
        height: 48px;
        padding: 30px;
        position: relative;
        cursor: pointer;
    }

    &__interior {
        background-color: #63d1bb;

        &::after {
            content: "";

            position: absolute;
            top: calc(50% - 31px);
            right: 37px;

            width: 40px;
            height: 62px;

            background-image: url('/img/interior.png');
        }

        &:active {
            color: rgba(255, 255, 255, 0.3);

            &::after {
                opacity: 0.3;
            }
        }
    }

    &__toys {
        background-color: #56c3b2;

        &::after {
            content: "";

            position: absolute;
            top: calc(50% - 30px);
            right: 27px;

            width: 60px;
            height: 60px;

            background-image: url('/img/toy.png');
        }

        &:active {
            color: rgba(255, 255, 255, 0.3);

            &::after {
                opacity: 0.3;
            }
        }
    }
}

@media (min-width: $tablet-width) {
    .promo {
        margin-bottom: 0;

        &__wrapper {
            min-height: 746px;
            overflow: hidden;
        }

        &__img {
            width: 768px;
            height: 746px;

            top: 0;
        }

        &__header {
            top: 155px;
            width: 700px;
        }

        &__type {
            max-width: 668px;

            flex-direction: row;
            align-items: flex-end;

            top: auto;
            bottom: 0;
            left: calc(50%);
            transform: translate(-50%, 0);
        }
        
        &__interior, &__toys {
            width: 100%;

            font-size: 20px;
            line-height: 30px;
        }

        &__interior:hover, &__toys:hover {
            padding-bottom: 35px;
        }
    }
}

@media (min-width: $desktop-width) {
    .promo {
        &__img {
            width: 1150px;
            height: 746px;
        }

        &__type {
            max-width: 1050px;
        }
    }
}